* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* input border radius for text input */
.input-border-round fieldset {
  border-radius: 100vw;
}

.track-item:hover .add-icon {
  color: blue;
}

.track-item:has(svg:hover) .add-icon,
.track-item:has(path:hover) .add-icon {
  /* if hover play button override the button color */
  color: black !important;
}
